<style>
    .snip1535 {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
</style>
<form action="https://search.naver.com/search.naver">
    <input type="text" name="query">
    <button class="snip1535">네이버</button>
</form>
<form action="https://search.daum.net/search">
    <input type="text" name="q">
    <button class="snip1535">다음</button>
</form>